/* Red color is "tomato", which is rgb(255,99,71) and #FF6347 */


/*** TAGS ***/

body {
   margin-top: 2%;
   background-color: gray;
   background-image: url(resources/pier.jpg);  /* This guy shows some young duplicates */ 
   background-repeat: no-repeat;
   background-size : 100% auto;
   color: white;
   font-family: "Helvetica";
}

h1 {
   color: white;
   font-size: 500%;
   text-shadow: 5px 5px 10px black;
   text-align: center;
}

h2 {
   text-align: center;
   width: 50%;
   margin-left: 25%;
   margin-right: 25%;
   font-size: x-large;
   color: white;
   text-shadow: 2.5px 2.5px 5px black;
}

i {
   color: tomato;
   font-style: normal;
}

input[type="textarea"], input[type="text"], input[type="password"],
         input[type="date"], input[type="number"] {
   padding: 7px;
   border: transparent;
   box-shadow: 2px 2px 5px black;
   margin-left: 10px;
   margin-top: 2px;
}

input[type="number"] {
   margin-right: 5px;
}

span {
   margin-left: 10px;
}

fieldset {
   width: 100px;
   margin-left: auto;
   margin-right: auto;
}

fieldset input[type="submit"] {
   margin-top: 20px;
   margin-bottom: 20px;
}

fieldset p {
   color: white;
   text-shadow: 1px 2px 4px black;
   background-color: rgba(255, 255, 255, .4);
   border-radius: 10px;
   padding: 10px;
}

legend {
   text-align: center;
}

/*** CLASSES ***/

.error {
   text-align: center;
   color: red;
   width: 40%;
   margin-left: 30%;
   margin-right: 30%;
   background-color: rgba(0, 0, 0, .8);
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 10px;
}

.centered {
   width: 40%;
   margin-left: 30%;
   margin-right: 30%;
   margin-top: 50px;
}

.button {
   border-radius: 4px;
   background-color: tomato;
   border: none;
   color: white;
   text-align: center;
   font-size: 28px;
   padding: 10px;
   width: 200px;
   margin: 5px;
   text-decoration: none;
   box-shadow: 2px 2px 7px black;
   transition: all 0.5s;
}

.button:hover:not(.active) {
   background-color: red;
}

.test {
   font-family: "Courier New";
   color: white;
   background-color: black;
   padding: 50px;
   width: 150px;
}

.test a {
   color: white;
}

.plan {
   text-decoration: none;
   color: white;
   background-color: rgba(255, 255, 255, .3);
   border-radius: 10px;
   padding: 5px;
   /*margin-left: 20%;*/
}

.plan:hover:not(.active) {
   background-color: rgba(255, 255, 255, .4);
}

.expansion {
   text-decoration: none;
   text-shadow: 1px 2px 4px black;
   color: white;
   background-color: rgba(255, 255, 255, .3);
   padding: 20px;
   display: none;
   /*margin-left: 20%;*/
}


/*** ID's ***/

#loginButton {
   float: left;
}

#newUserButton {
   float: right;
}

#splash {
   width: 100%;
   background-color: rgba(0, 0, 0, .4);
   padding-top: 10px;
   padding-bottom: 100px;
   margin-top: 10%;
}

#dashPlanList {
   background-color: rgba(0, 0, 0, .4);
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 5%;
   border-radius: 15px;
}

#dashPlanList fieldset {
   width: auto;
   border: transparent;
}

#expandable {
   text-decoration: none;
   text-shadow: 1px 2px 4px black;
   font-size: large;
   color: white;
   background-color: rgba(255, 255, 255, .2);
   padding: 5px;
   width: 100%;
   /*margin-left: 10%;*/
   /*margin-left: 20%;*/
}

#expandable:hover:not(.active) {
   background-color: rgba(255, 255, 255, .4);
}

#newplan {
   background-color: rgba(0, 0, 0, .5);
   border-radius: 10px;
   padding-top: 10px;
   padding-bottom: 100px;
   margin-top: 5%;
}

#newplan fieldset {
   border: transparent;
}

#login {
   background-color: rgba(0, 0, 0, .5);
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 5%;
}

#login fieldset {
   border: transparent;
}

#newuser {
   background-color: rgba(0, 0, 0, .5);
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 5%;
}

#newuser fieldset {
   border: transparent;
}

#settings {
   background-color: rgba(0, 0, 0, .5);
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 5%;
}

#settings fieldset {
   border: transparent;
}

/****[Nick's Dashboard]*************************************************************************/

#bodyBackground {
   background-color: #747D7D ;
   background-image: url("http://greatist.com/sites/default/files/styles/big_share/public/hiit-workout_0.jpg?itok=gnA65xfD");
   background-size : 100% auto;
}

#title {
   height: 200px;
   width:100%;
    
}

#titleOfPage {
    
    margin-left: 50px;
    margin-right: 150px;
    
    padding-top: 100px;
    padding-left: 140px;
   
    text-align: center;
}

.nav {
   position: fixed;
   width: 100%;
   top: 0;
}

.nav p{
font-size: 20px;   
}

.nav img {
   height: 61px;
   width: 70px;
}

.nav ul {
  list-style-type: none;
  background-color: #444;
  padding: 0;
  margin: 0;
  overflow: hidden; 
}

.nav li {
  font-family: Helvetica;
  float: left;
  /*font-size: 1.2em;*/
  /*line-height: 40px;*/
  /*height: 40px;*/
  border-left: 1px solid #888;
}
 
.nav a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
  /*transition: .3s background-color;*/
}
.nav li:hover:not(.active) {
   background-color: #111;
}

.divOne {
   
   height:500px;
   width:100%;
   margin: 0 auto;
   background-color: #D3D3D3;
   border-bottom: .5px solid #D3D3D3;
   text-align: left; 
   overflow: hidden;
   float: none; 
   position: relative;
   
   
}

#divOneTitle {
 
   padding-left: 20px;
   font-size:50px;
}

#divOneText {
   float: left;
   width:45%;
   padding-left: 40px;
   padding-top: 0;
   padding-bottom: 0;
}

#divOneImage {
   float: right;
   max-width: 480px;
   max-height: 400px;
   overflow: visible;
   padding-right: 250px;
   padding-bottom: 10px;
  
  
}

#divTwo {
 height:500px;
   width:100%;
   margin: 0 auto;
   background-color: #808080;
   border: .5px solid #D3D3D3;
   overflow: hidden;
   float: none;
}

#divTwoTitle {
   /*float: right;*/
   text-align: right;
   font-size:50px;
}

#divTwoText{
  float: right; 
  text-align: right;   
  width: 45%;
  overflow: hidden;
  padding-right: 40px;
}

#divTwoImage{
   float: left;
   max-width: 440px;
   max-height: 480px;
   overflow: hidden;
   padding-left: 50px; 
   
}

#divThree {
   
   height:500px;
   width:100%;
   margin: 0 auto;
   background-color: #D3D3D3;
   border: .5px solid #D3D3D3;
   overflow: hidden;
   float: none; 
   
}

#divThreeTitle {
     text-align: left;
     padding-left: 20px;
     font-size:50px;
}

#divThreeText {
  text-align: left;   
  overflow: hidden;
  padding-left: 40px;
   
}

#divThreeImage {
   
   float: right;
   max-width: 450px;
   max-height: 480px;
   overflow: hidden;
   padding-bottom: 20px;
   padding-right: 50px; 
   
}

#divFour {
     
  height:500px;
   width:100%;
   margin: 0 auto;
   background-color: #808080;
   border: .5px solid #D3D3D3;
   overflow: hidden;
   float: none;
   
}


#divFourTitle {
   
    text-align: right;
    padding-right: 20px;
    font-size:50px;
}

#divFourText {
   
   float: right; 
  text-align: right;   
  width: 45%;
  overflow: hidden;
  padding-right: 40px;
  
}

#divFourImage {
    
    float: left;
   max-width: 450px;
   max-height: 400px;
   overflow: hidden;
   padding-left: 40px;

   
}


.footer {
    background-color: #444;
   height:40px;
   width:100%;
   margin: 0 auto;
  position: fixed;
  bottom: 0;
  text-align: center;
  clear: both;
  padding-bottom: 10px;
}

#facebook {
   padding-left: 10px;
   height: 20px;
   width: 20px;
}

#twitter {
   padding-left: 5px;
  height: 20px;
   width: 20px;
}

#instagram {
   padding-left: 5px;
  height: 20px;
   width: 20px;
}


.centered {
   width: 40%;
   margin-left: 30%;
   margin-right: 30%;
   margin-top: 50px;
}

.button {
   border-radius: 4px;
   background-color: tomato;
   border: none;
   color: white;
   text-align: center;
   font-size: 28px;
   padding: 10px;
   width: 200px;
   margin: 5px;
   text-decoration: none;
   box-shadow: 2px 2px 7px black;
   transition: all 0.5s;
}

.button:hover:not(.active) {
   background-color: red;
}

.bottomBuffered {
   margin-bottom: 300px;
}
